# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [3]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [4]:
chipo=pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv",delimiter='\t')
chipo.set_index("order_id",inplace=True)
chipo

,quantity,item_name,choice_description,item_price
order_id,,,,
1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,Izze,[Clementine],$3.39
1,1,Nantucket Nectar,[Apple],$3.39
1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...
1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

### Step 4. How many products cost more than $10.00?

In [5]:
chipo["item_price"]=chipo["item_price"].str[1:6].astype(np.float64)

In [6]:
len(chipo[chipo["item_price"]>10])

1130

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [7]:
chipo[["item_name","item_price"]]

                                      item_name  item_price
order_id
1                  Chips and Fresh Tomato Salsa        2.39
1                                          Izze        3.39
1                              Nantucket Nectar        3.39
1         Chips and Tomatillo-Green Chili Salsa        2.39
2                                  Chicken Bowl       16.98
...                                         ...         ...
1833                              Steak Burrito       11.75
1833                              Steak Burrito       11.75
1834                         Chicken Salad Bowl       11.25
1834                         Chicken Salad Bowl        8.75
1834                         Chicken Salad Bowl        8.75

[4622 rows x 2 columns]

### Step 6. Sort by the name of the item

In [8]:
chipo=chipo.sort_values("item_name")
chipo

,quantity,item_name,choice_description,item_price
order_id,,,,
1360,2,6 Pack Soft Drink,[Diet Coke],12.98
148,1,6 Pack Soft Drink,[Diet Coke],6.49
749,1,6 Pack Soft Drink,[Coke],6.49
754,1,6 Pack Soft Drink,[Diet Coke],6.49
1076,1,6 Pack Soft Drink,[Coke],6.49
...,...,...,...,...
948,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",8.75
322,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Black Beans, Cheese, Sou...",8.75
1132,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",8.49
688,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
567,1,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",8.49

### Step 7. What was the quantity of the most expensive item ordered?

In [18]:
idx=chipo["item_price"].idxmax()
quantity=chipo.loc[idx,"quantity"]
quantity.sum()

35

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [25]:
g=chipo.groupby("item_name")
g1=g.get_group("Veggie Salad Bowl")
len(g1)

18

### Step 9. How many times did someone order more than one Canned Soda?

In [37]:
gp=chipo.groupby("item_name")
g3=gp.get_group("Canned Soda")
print(g3)
len(g3[g3["quantity"]>1])

          quantity    item_name choice_description  item_price
order_id
471              1  Canned Soda       [Dr. Pepper]        1.09
1578             1  Canned Soda  [Diet Dr. Pepper]        1.09
1550             2  Canned Soda     [Mountain Dew]        2.18
579              1  Canned Soda           [Sprite]        1.09
1621             1  Canned Soda           [Sprite]        1.09
...            ...          ...                ...         ...
591              1  Canned Soda           [Sprite]        1.09
1434             1  Canned Soda        [Coca Cola]        1.09
100              1  Canned Soda     [Mountain Dew]        1.09
1303             1  Canned Soda           [Sprite]        1.09
1258             2  Canned Soda       [Dr. Pepper]        2.18

[104 rows x 4 columns]

20